# cmake
CMakeFiles/
.cmake/
*.dir/
*.tlog/
CMakeCache.txt
cmake_install.cmake
*.recipe

# make
Makefile

# VS
*.vcxproj*
*.sln
.vs/

# VS Code
.vscode/

# Shaders
*.dxbc
*.dxil
*.spirv
*.dxbc.h
*.dxil.h
*.spirv.h

# Library
*.lib
*.exp
*.dll
*.pdb
*.so
*.so.*
*.a

# ninja
.ninja_deps
.ninja_log
build.ninja
compile_commands.json
*.log

# external packages
External/NVAPI
External/AGS
External/Assimp
External/Detex
External/Glfw
External/ImGui
External/vulkansdk
External/DXC
External/NGX

_Data/
_Build/

# on Linux, _Data is symbolic link
_Data
*/Output/*

# packaged SDK
_NRI_SDK/